    body {
        background-color: rgba(165, 179, 154, 0.473);
    }
    
    #titulo {
        font-size: 40px;
        color: rgb(226, 70, 9);
    }
    
    #resumen {
        color: brown;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
    }
    
    .subtitulo {
        margin-left: 20px;
        padding-top: 20px;
        font-size: 30px;
        font-weight: 200;
        color: brown;
    }
    
    #listaPersonajes {
        list-style-type: none;
    }
    
    #listaPersonajes li {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: x-large;
        margin-top: 2rem;
    }
    
    #listaPersonajes li img {
        width: 350px;
        margin-top: 2px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #listaSagas {
        list-style-type: none;
        border: 2px solid green;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    
    #listaSagas h6 {
        color: rgb(42, 73, 11);
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #listaSagas li {
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        border: 2px solid red;
    }
    
    #listaSagas li img {
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 50%;
    }
    
    #imgTeorias {
        width: 500px;
        border: 5px outset rgb(1, 184, 16);
        border-radius: 20px;
        display: flex;
    }
    
    #tituloPracticaCalificada {
        padding-top: 2rem;
    }
    
    .enlacePracticaCalificada:hover {
        background-color: darkgoldenrod;
    }